body
{
background-color:LightGray;
font-size:100%;
}

h1
{
color:Black;
text-align:left;
font-family:"Arial", sans-serif;
font-size:2.5em;
}

h2
{
color:Black;
text-align:left;
font-family:"Arial", sans-serif;
font-size:1.875em;
}

p
{
color:Black;
text-align:left;
text-indent:50px;
font-family:"Arial", sans-serif;
font-size:0.875em;
}

address
{
color:Black;
text-align:left;
font-family:"Arial", sans-serif;
font-size:0.875em;
font-style:normal;
}

a:link
{
color:Black;
text-align:left;
text-decoration:none;
font-family:"Arial", sans-serif;
font-size:0.875em;
}

a:visited
{
color:Black;
text-align:left;
text-decoration:none;
font-family:"Arial", sans-serif;
font-size:0.875em;
}

a:hover
{
color:Black;
text-align:left;
text-decoration:underline;
font-family:"Arial", sans-serif;
font-size:0.875em;
}

a:active
{
color:Black;
text-align:left;
text-decoration:underline;
font-family:"Arial", sans-serif;
font-size:0.875em;
}

a.socialMedia
{
margin-left:5px
}

span.currentPage
{
color:Black;
text-align:left;
font-family:"Arial", sans-serif;
font-size:0.875em;
font-weight:bold;
}

span.footerLeft
{
color:grey;
text-align:left;
font-family:"Arial", sans-serif;
font-size:0.75em;
position:absolute;
bottom:5px;
left:5px;
}

span.footerRight
{
position:absolute;
bottom:5px;
right:5px;
}

div
{
border:2px solid darkGrey;
padding:10px 40px;
background:white;
border-radius:25px;
display:inline;
float:left;
margin:10px;
}
